<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فعال‌سازی حساب کاربری</title>
</head>
<body>
    <h1>فعال‌سازی حساب کاربری</h1>
    <p>سلام {{.Username}},</p>
    <p>از شما برای ثبت‌نام در سایت ما متشکریم! برای فعال‌سازی حساب کاربری خود، لطفاً از کد یکبار مصرف زیر استفاده کنید:</p>
    <p><strong>کد OTP: {{.OTP}}</strong></p>
    <p>اگر شما حساب کاربری ایجاد نکرده‌اید، لطفاً این ایمیل را نادیده بگیرید.</p>
    <p>با احترام,<br>نام شرکت شما</p>
</body>
</html>
